/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/*--------------共通（字体や色など）--------------------*/
.no-gutters {
  margin:0;
  padding:0;
}
.no-gutters　> .col,
.no-gutters　> [class*="col-"] {
  margin:0;
  padding:0;
}

body {
	color: #333;
    font-family:"游ゴシック","ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "游ゴシック", "メイリオ", Meiryo, Verdana, 'M PLUS 1p', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
li {
	list-style: none;
}
ul {
	padding: 0px;
}

a {
	text-decoration: none;
	font-weight: bold;
}
button {

}

a:hover {
	text-decoration: none;
	color: #9c7762;
}
h2 {
	font-size: 20px;
	padding: 10px;
}
.midashi_txt {
	color: #E7B091;
	font-size: 23px;
	border-bottom: 4px dashed #E7B091;
	margin: 5% 0px;
}
.txtxs {
	font-size: 13px;
}
.txts {
	font-size: 15px;
	margin-bottom: 3px
}
.txtm {
	font-size: 20px;
}
.header_wrap {
	height: 70px;
}
.logo_img {
	width: 170px;
	margin: 5px 10px;
}
.center {
	text-align: center;
}
.bold {
	font-weight: bold;
}
.white_txt {
	color: #fff;
}
.brown_txt {
	color: #C39C89;
}
.beige_txt {
	color: #EEE2D3;
}
.beige_bg {
	color: #EEE2D3;
}
.orange_txt {
	color:  #E7B091;
}
.true_txt {
	color: #ed7b79;
}
.false_txt {
	color: #91c9e7;
}
.orange_bg {
	background-color: #E7B091;
}
.edit_btn {
	color: #E7B091;
	padding: 5px 10px;
	border-radius: 15px;
	border: solid 3px #E7B091;
}
.edit_btn:hover {
	border: solid 3px #9c7762;
}
.show_btn {
	color: #E7B091;
	padding: 5px 10px;
	border-radius: 15px;
	border: solid 3px #E7B091;
}
.show_btn:hover {
	border: solid 3px #9c7762;
}

.destroy_btn {
	color: #91c9e7;
	padding: 5px 10px;
	border-radius: 15px;
	border: solid 3px #91c9e7;
}
.destroy_btn:hover {
	color: #5f8396;
	border: solid 3px #5f8396;
}
/*--------------共通のテーブル--------------------*/
.table {
	margin: 20px auto;
}
.thead {
	background-color: #EEE2D3;
}

/*--------------共通(ヘッダー用）--------------------*/
header{
	width: 100%;
	background-color: #EEE2D3;
	padding: 10px 0px;
}
.customer-name_txt {
	margin-top: 20px;
	margin-right: 10px;
}
.notice {
	color: #fff;
	font-weight: 600;
}
.navbar-nav > li > a {
	padding:  10px;
}
.nav_txt {
	color: #C39C89;
	font-size: 15px;
	background-color: #fff;
	border-radius: 15px;
	margin: 10px;
}
.navbar-toggler{
	display: none;
}
/*--------------サーチフォーム）--------------------*/
.search_form {
    position: absolute;
   	bottom: -40px;
    right: 15%;
}
.search_field {
	border-radius: 15px;
	border: 2px solid #CCCCCC;
}
.search_field:focus {
	outline: none;
	border-radius: 15px;
	border: 2px solid #777;
}
.search_cont {
	position: relative;
}
.search_icon {
	color:  #CCCCCC;
	position: absolute;
	right: 10px;
	top: 4px;
}

/*--------------サイドバー--------------------*/
.sidebar {
	width: 100%;
	text-align: center;
	padding-top: 10%;
	height: 160vh;
}
.sidebar_fixed {
  position: sticky;
  top: 60px;
}
.category_txt {
	display: inline-block;
	width: 80%;
	font-size: 20px;
	border-bottom: dashed 3px #fff;
}
.sidebar_img {
	width: 100%;
	padding: 10px;
}
.sidebar li {
	margin: 10px 0px;
}

/*--------------トップページ--------------------*/
.main_visual {
	position: relative;
}
.main_img {
	width: 100%;
}
.main_txt {
	position: absolute;
	bottom: 30px;
	left: 30px;
}
/*--------------商品一覧--------------------*/
.product_img {
	width: 100%;
}
.product_link {
	display: block;
	margin: 20px 0px;
}

.product_link p:hover {
	color: #9c7762;
}
/*--------------フッター--------------------*/
footer {
	background-color: #EEE2D3;
	padding-top: 10px;
}
/*--------------共通（フォーム用）--------------------*/

.form {
	margin: 10% 0px;
}
.form_midashi {
	padding: 20px 0px;
}
.field {
	margin: 2% 0px;
}
.form_cont {
	width: 60%;
	margin: 0 auto;
}
.form_label {
	width: 100%;
	font-size: 15px;
	color: #C39C89;
	padding: 5px;
}
/*自動入力時の背景色をなくす*/
input:-webkit-autofill {
animation-name: onAutoFillStart;
transition: background-color 50000s ease-in-out 0s;
}
.form_input {
	width: 100%;
	padding: 10px;
	border-radius: 15px;
	border: solid 3px #E7B091;
}
.form_input_s,
.form_submit{
	width: 49.3%;
	padding: 10px;
	border-radius: 15px;
	border: solid 3px #E7B091;
}
.form_submit {
	background-color: #E7B091;
}
.form_submit_s {
	background-color: #E7B091;
	padding: 10px 20px;
	border-radius: 15px;
	border: solid 3px #E7B091;
}
.form_input:focus,
.form_input_s:focus,
.form_submit:focus,
.form_submit_s:focus{
	outline: none;
	border: solid 3px #de8152;
}
.actions {
	text-align: center;
	margin: 10%;
}
.form_link {
	text-align: center;
}

/*--------------カテゴリー一覧--------------------*/

	margin: 5% 0px;
}
.category_table {
	width: 60%;
}

.border {
	border-bottom: 1px solid #cccccc;
}
.product_data {
	margin: 20px 0px;
}
/*--------------配送先ー一覧--------------------*/

/*--------------モバイル版--------------------*/

@media(max-width: 1000px) {

.nav_txt {
	color: #C39C89;
	font-size: 13px;
	padding: 0px;
	background-color: #fff;
	border-radius: 15px;
	margin: 10px;
}
}

@media(max-width: 770px) {

table {
	width: 80%;
}

.txtxs {
	font-size: 10px;
}
.txts {
	font-size: 12px;
	margin-bottom: 3px
}
.txtm {
	font-size: 15px;
}

.product_index {
	text-align: center;
}
.sidebar {
	display: none;
}
.product_link {
	display: inline-block;
	width: 80%;
}
.product_link p {
	text-align: left;
}
.product_link p:hover {
	color: #9c7762;
}
.form_cont {
	width: 90%;
	margin: 0 auto;
}
.category_table {
	width: 100%;
}
.search_form {
    position: absolute;
   	top: 30px;
    right: 100px;
}
/*--------------ナビゲーション バー-------------------*/
.navbar-toggler {
	font-size: 20px;
	display: block;
	position: absolute;
	top: 25px;
	right: 20px;
	border: none;
	background-color: #EEE2D3;
	color: #E7B091;
	outline: none;
}
.navbar-toggler:focus {
	color: #9c7762;
}
}
