<header class="navbar navbar-fixed-top ">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <%= image_tag('logo.png', class: "logo_img") %>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="" class="nav_txt">商品一覧</a></li>
          <li><a href="" class="nav_txt">新規登録</a></li>
          <li><a href="" class="nav_txt">ログイン</a></li>
      </ul>
    </nav>
  </div>
</header>